:root {
  --color-primary: hsl(0, 80%, 40%);
  --color-shade: hsl(0, 50%, 15%);
  --color-secondary: hsl(0, 30%, 40%);
  --color-accent: hsl(60, 75%, 50%);

  --color-primary-dark: hsl(0, 90%, 20%);
  --color-shade-dark: hsl(0, 50%, 10%);
  --color-secondary-dark: hsl(0, 40%, 20%);
  --color-accent-dark: hsl(60, 75%, 40%);
}

/* semantic color variables for this project */
:root {
  --color-page-background: var(--color-secondary);
  --color-background: var(--color-primary);
  --color-component-border: var(--color-shade);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-page-background: var(--color-secondary-dark);
    --color-background: var(--color-primary-dark);
    --color-component-border: var(--color-shade-dark);
    --color-accent: var(--color-accent-dark);
  }
}
